@media screen and (min-width:428px) {
    .container {
        max-width: 426px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }

    /* HEADER */

    .header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    margin-right: auto;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu-open {
    display: none;
}
    /* HERO */

    

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
            }
        }

    .title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
    }

    .list-benefits {
        gap: 72px 24px;
    }
    
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        gap: 64px 24px;
    }

     
        /* Customers */

    .customer-item {
        width: calc((100% - 24px * 2) / 3);
    }

        .customers-list {
            display: flex;
            gap: 72px 24px;
        }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* HEADER */

    .header {
    padding-top: 24px;
    padding-bottom: 24px;
    }

   .address-list {
       flex-direction: row;
       flex-wrap: nowrap;
       gap: 40px;
   }

   .address {
       display: block;
       font-family: inherit;
       font-style: normal;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--secondary-text-color);
       display: flex;
       transition-property: color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }

   
    
        
    /* HERO */

    .title {
        margin: 0 auto 48px;
    }

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk.jpg);
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk-2x.jpg);
            }
        }

    .list-benefits {
        gap: 24px;
    }

    .benefits-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        height: 112px;
        background-color: var(--background-color);
        border-radius: 4px;
    }

    .benefits-icon {
        width: 64px;
        height: 64px;
    }

    .benefits-item {
        width: calc((100% - 72px) / 4);
    }

        .title-item {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--primary-color);
            margin-bottom: 8px;
    }

    .text {
        font-weight: 400;
    }

        /* What are we doing */
    .doing-container {
    display: block;
    }
    .section-name {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--primary-color);
            margin-bottom: 72px;
        }
    
    .section-doing {
        padding-top: 0;
    }  
    .doing-list {
            display: flex;
            gap: 24px;
        }

                /* Our Team */
        .team-item {
        width: calc((100% - 72px) / 4);
        }

        .special-container {
            padding-left: 15px;
            padding-right: 15px;
        }

                /* Customers */
        .customer-item {
            width: calc((100% - 24px * 5) / 6);
            height: 88px;
        }
        .customers-list {
        gap: 24px;
    }
    
}

